---
name: atlantis apply on no changes

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
    secrets:
      github-app-id:
        description: github app id
        required: true
      github-app-key:
        description: github app private key
        required: true

jobs:
  atlantis-apply-on-no-changes:
    runs-on: ${{ inputs.runner }}
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/install-gh-cli
      - name: install github cli
        if: ${{ !contains(inputs.runner, 'ubuntu') && !contains(inputs.runner, 'macos') && !contains(inputs.runner, 'windows') }}
        uses: dev-hanz-ops/install-gh-cli-action@af38ce09b1ec248aeb08eea2b16bbecea9e059f8 # v0.2.1

      - name: comment on pr
        run: gh pr comment ${{ github.event.issue.number }} --body "atlantis apply"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
