---
name: changed files

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      files:
        description: files and directories to check for changes, full repo if unset
        type: string
        required: false
      matrix:
        description: enable matrix output for changed files
        type: boolean
        required: false
      dir_names:
        description: output changed directories instead of files
        type: boolean
        required: false
      dir_names_exclude_current_dir:
        description: exclude working directory from output
        type: boolean
        required: false
      dir_names_max_depth:
        description: maximum depth of directories to include in output
        type: string
        required: false

    outputs:
      files:
        description: all changed files
        value: ${{ jobs.changed-files.outputs.files }}

jobs:
  changed-files:
    runs-on: ${{ inputs.runner }}
    permissions:
      pull-requests: read
    outputs:
      files: ${{ steps.changed-files.outputs.all_changed_files }}

    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/changed-files
      - name: get changed files
        id: changed-files
        uses: tj-actions/changed-files@7dee1b0c1557f278e5c7dc244927139d78c0e22a # v47.0.4
        with:
          files: ${{ inputs.files }}
          matrix: ${{ inputs.matrix }}
          dir_names: ${{ inputs.dir_names }}
          dir_names_exclude_current_dir: ${{ inputs.dir_names_exclude_current_dir }}
          dir_names_max_depth: ${{ inputs.dir_names_max_depth }}

      - name: list all changed files
        run: |
          echo "${{ steps.changed-files.outputs.all_changed_files }}" >> "$GITHUB_STEP_SUMMARY"
