---
name: deploy to gh pages

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      environment:
        description: environment name
        type: string
        default: github-pages
        required: false
      path:
        description: path to be deployed
        type: string
        default: "."
        required: false

jobs:
  deploy:
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: ${{ inputs.environment }}
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/configure-github-pages
      - name: setup pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      # https://github.com/marketplace/actions/upload-github-pages-artifact
      - name: upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ${{ inputs.path }}

      # https://github.com/marketplace/actions/deploy-github-pages-site
      - name: deploy to gh pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
