---
name: build docker image

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      file:
        description: path to Dockerfile
        type: string
        required: false
      context:
        description: build context - default .
        type: string
        default: .
        required: false

jobs:
  docker-build:
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      packages: read
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/marketplace/actions/docker-setup-buildx
      - name: setup docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      # https://github.com/marketplace/actions/build-and-push-docker-images
      - name: build docker image
        uses: docker/build-push-action@ee4ca427a2f43b6a16632044ca514c076267da23 # v6.19.0
        with:
          push: false
          file: ${{ inputs.file }}
          context: ${{ inputs.context }}
          tags: ${{ github.sha }}
