---
name: run renovate

on:
  workflow_call:
    inputs:
      runner:
        description: runner name
        type: string
        default: ubuntu-latest
        required: false
      configuration-file:
        description: path to config
        type: string
        default: .github/renovate.json5
        required: false
      dry-run:
        description: dry run
        type: string
        default: "null"
        required: false
      log-level:
        description: log-level
        type: string
        default: debug
        required: false
      token:
        description: pat, for app use github-app-id and key
        type: string
        required: false
    secrets:
      github-app-id:
        description: github app id
        required: false
      github-app-key:
        description: github app private key
        required: false

jobs:
  renovate:
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: read
      pull-requests: write
    steps:
      # https://github.com/marketplace/actions/harden-runner
      - name: harden runner
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      # https://github.com/marketplace/actions/create-github-app-token
      - name: generate token
        id: generate-token
        if: ${{ !inputs.token }}
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.github-app-id }}
          private-key: ${{ secrets.github-app-key }}

      # https://github.com/marketplace/actions/checkout
      - name: checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ inputs.token || steps.generate-token.outputs.token }}

      # https://github.com/marketplace/actions/renovate-bot-github-action
      - name: renovate bot
        uses: renovatebot/github-action@eaf12548c13069dcc28bb75c4ee4610cdbe400c5 # v44.2.6
        env:
          LOG_LEVEL: ${{ inputs.log-level }}
          RENOVATE_CONFIG_FILE: ${{ inputs.configuration-file }}
          RENOVATE_DRY_RUN: ${{ inputs.dry-run }}
          RENOVATE_TOKEN: ${{ inputs.token || steps.generate-token.outputs.token }}
